.modules-buttons {
  margin-right: 0.5em;
  height: 3em;
  border: 1px solid black; 
}

.module-modifiers {
  float: right;
}

.module-mod-btn {
  margin-right: 8px; 
}

.module-modifiers .module-mod-btn:nth-child(1) {
  margin-right: 8px; 
}

.module-mod-btn:hover {
  opacity: 0.8;
}

.btn-edit {
  margin-right: 8px;
  background-color: green;
  color: white;
}

.btn-delete {
  background-color: #dc3545; 
  color: white;
}

.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
}

.wd-modules > li {
  background-color: lightgray;
  border: 1px solid gray !important;
  border-left: none !important;
  margin-bottom: 50px;
}

.wd-modules > li > div {
  padding: 6px;
  border-left: 1px solid gray !important;
}

.wd-modules > li > ul > li {
  padding: 5px;
  border-top: 1px solid gray !important;
  border-left: 3px solid green;
}

.btn-custom-primary {
  background-color: gray;
  border-color: #000000;
  color: #000000;
}

.module-row {
  display: flex;
}

.module-list {
  flex: 3.5;
  margin-right: 1em;
}
.module-status {
  flex: 1;
}

.module-list-footer {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 1em 0;
}

.module-list-footer > .button-group {
  display: flex;
  gap: 10px;
}