.bg-custom {
  background-color: turquoise; 
}

.bg-green {
  background-color: green; 
}

.bg-yellow {
  background-color: yellow; 
}

.bg-purple {
  background-color: purple; 
}

.bg-gray {
  background-color: gray; 
}

.bg-orange {
  background-color: orange; 
}

.bg-pink {
  background-color: orange; 
}

.bg-sky {
  background-color: lightblue; 
}