.wd-course-home-body {
  display: flex;
  flex-direction: row; 
  height: 100vh;
}

.wd-course-module-list {
  flex-grow: 1; 
}

.wd-course-status-bar {
  display: flex;
  flex-direction: column; 
  align-items: flex-end; 
  height: 100%; 
  padding: 20px; 
}

.normal-button {
  width: 100%; 
  margin-bottom: 10px; 
}
