.wd-kanbas-navigation {
  background-color: black;
  list-style: none;
  padding: 0px;
  margin: 0px;
  width: 75px; 
}

.wd-kanbas-navigation li {
  padding: 10px;
  margin-bottom: 10px; 
  font-size: 0.8em;
  text-align: center;
}

.wd-kanbas-navigation li.wd-active {
  background-color: white;
  border-color: black; 
}

.wd-kanbas-navigation li.wd-active a {
  color: red;
}

.wd-kanbas-navigation a {
  color: white;
  text-decoration: none;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
}

.wd-kanbas-navigation a i {
  color: red;
  font-size: 2em;
  margin-bottom: 5px;
}

.wd-kanbas-navigation a i.wd-account-icon {
  color: white;
}

.wd-kanbas-navigation a .wd-custom-icon {
  font-size: 3em;
  color: red;
}

.fa-icon-text {
  font-family: Arial, sans-serif; 
  font-weight: bold;
  font-size: 2em; 
}

.wd-kanbas-navigation a:hover {
  background-color: red; 
}

.wd-kanbas-navigation a {
  transition: background-color 0.3s ease, color 0.3s ease;
}